---
http_interactions:
- request:
    method: get
    uri: https://api.typeform.com/v1/form/some-questionnaire?key=some-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"http_status":200,"stats":{"responses":{"showing":11,"total":11,"completed":4,"locked":0}},"questions":[{"id":"list_2294179_choice","question":"What
        do you want to buy for Christmas?"},{"id":"list_2294224_choice","question":"What
        will you buy for Thanksgiving?"},{"id":"terms_2294239","question":"This is
        an intro"}],"responses":[{"completed":"0","token":"04b17f8d859fdc825f294d2304a202af","locked":"0","metadata":{"browser":"default","platform":"other","date_land":"2014-10-25
        08:38:37","date_submit":"0000-00-00 00:00:00","user_agent":"Mozilla\/5.0 (Macintosh;
        Intel Mac OS X 10_10_0) AppleWebKit\/537.36 (KHTML, like Gecko) Chrome\/38.0.2125.104
        Safari\/537.36","referer":"http:\/\/dev.eventhub.com:3000\/","network_id":"2bdccd629bf1292cfe94be47c25cd694cb029d6c"},"hidden":[],"answers":{"list_2294179_choice":"","list_2294224_choice":""}},{"completed":"0","token":"fac659b611352af25cdc6568cebaa69f","locked":"0","metadata":{"browser":"default","platform":"other","date_land":"2014-11-10
        06:30:47","date_submit":"0000-00-00 00:00:00","user_agent":"Mozilla\/5.0 (Macintosh;
        Intel Mac OS X 10_10_0) AppleWebKit\/537.36 (KHTML, like Gecko) Chrome\/38.0.2125.111
        Safari\/537.36","referer":"https:\/\/admin.typeform.com\/form\/196165\/fields\/","network_id":"9bf85c77089b52c7e63e58e2611498e9cb4fb0f1"},"hidden":[],"a[...]
